# Specification Verification

## Ogólne:
- co noc automatycznie generuje się dokumentacja do testów
https://fem1s11-eiffel142.eiffel.gic.ericsson.se:8443/jenkins/job/tn-misc-javadoc-docgen/
którą można odczytać pod
https://fem1s11-eiffel142.eiffel.gic.ericsson.se:8443/jenkins/job/tn-misc-javadoc-docgen/site/specs/
- jednak, żeby zmiany były widoczne to trzeba zaktualizować pliki package-info od obszarów zmodyfikowanych
- Nad klasą powinna być adnotacja @JcatClass (chapterName = UDP EBCOM characteristics measurement tests with 25G)
